h1, footer {
    text-align: center;
}

/* I still have to make sure my footers appear at the bottom, but as I add stuff they'll move down so no worries*/
footer>a, footer>a:visited {
    text-decoration: none;
    color: green;
}

body {
    background-image:
    url(hy-art-HniZQ3OG22s-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


/* Used Julian's code to learn how to make a navbar without the use of a library*/
.navbar {
    background-color: #6696a0;
    overflow: hidden;
    margin-right: 27.6cm;
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 14px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #8eadb2;
    color: black;
}
  
/* Add a color to the active/current link */
.navbar a.active {
    background-color: #276570;
    color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}