div {
    font-size: 18px;
    color: red;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: white;
    color: red;
}

header {
    font-family: 'Luckiest Guy', cursive;
}

